# Introduction to Python

Python is a great first programming language because it is very high-level (more relatable to human language than to machine language) and follows a "batteries included" philosophy (there are a lot of useful utilities built into the language).
It's not just for beginners though—many large companies like Google, Facebook, and Instagram rely heavily on software coded in Python.

Computer programming is not so much about computers and more about information.
At the end of the day, most computer programs are taking information in some form and producing information in another form.
The first thing we need to learn is how to represent information in a way that the computer can understand.

### Numbers

Numbers in Python work just the way you expect them to in the real world.
We can perform basic arithmetic:

In [1]:
1 + 1

2

In [2]:
5 - 8

-3

In [3]:
2 * 2

4

In [4]:
3 / 4

0.75

We can use underscores to make large numbers more readable:

In [5]:
100_000_000 * 0.05

5000000.0

These symbols (`+`, `-`, `*`, `/`) are called **operators**, and they each *operate* on two numbers, producing a result.
These follow the standard [order of operations](https://simple.wikipedia.org/wiki/Order_of_operations), and respect parentheses (`(`, `)`) for grouping.

Use the space below to play around with combining these operators.

Let's say we have the following problem:

>I have 23 apples to share between 5 people.
>How many whole apples can each person get, and how many will be leftover?

We could solve this using our basic mathematical operators:

In [6]:
23 / 5

4.6

In [7]:
23 - (5 * 4)

3

Or we could take advantage of other operators for integer (whole number) division (`//`) and [modulo division](https://simple.wikipedia.org/wiki/Modulo_operation) (`%`) that frequently come in handy.

In [8]:
23 // 5

4

In [9]:
23 % 5

3

We can also use comparison operators to determine relationships between two numbers:

(*`#` is a special symbol in Python that begins a **comment**, i.e. a note for people that the computer can ignore.*)

In [10]:
# is 1 less than 2?
1 < 2

True

In [11]:
# is 1 greater than or equal to 2?
1 >= 2

False

In [12]:
# is 3 equal to 3?
3 == 3

True

In [13]:
# is 4 not equal to 4?
4 != 4

False

Notice that the results of these operations are not numbers, but special values `True` and `False`.
These are called [Boolean](https://simple.wikipedia.org/wiki/Boolean_algebra) values, often shortened to `bool` in many programming languages.
They are very useful for representing information that can either be true or false, and are essential to writing code that can perform different operations based on the result of a previous operation.

Use the space below to play around with the comparison operators:

* `<`: Less than
* `<=`: Less than or equal to
* `>`: Greater than
* `>=`: Greater than or equal to
* `==`: Equal to
* `!=`: Not equal to

Try to figure out how to represent the following question:

> If I cut up the remaining 3 apples, will each of the 5 people at least get a half of an apple?

### Variables

It is often useful to save the result of an operation so that we can refer to it later.
To do this, we can use the assignment operator `=` to associate the value with a name of our choosing:

In [14]:
x = 1
y = 2
x + y

3

In [15]:
x > y

False

In [16]:
# assign a new value to the name `x`
x = 10
x > y

True

### Booleans

Booleans also have operators which are very handy for representing more complex logic.

In [17]:
x > y and x < y

False

In [18]:
x > y or x < y

True

In [19]:
not True

False

Use the space below to play around with the comparison operators:

* `and`: both values are `True`
* `or`: at least one of the values are `True`
* `not`: the opposite value

Try to figure out how to represent the following question:

> Are `x` and `y` both between 1 and 100?

Feel free to use variables to store interim results instead of trying to fit everything in one line of code.

### Text

In addition to number and logic, we often want to represent text.
In computer programming, text types are usually called **strings** as they represent a string of **characters** (a single glyph, such as the letter `h`, the Korean letter `ᄒ`, or the snake emoji `🐍`).
Strings in Python are enclosed in either single (`'`) or double (`"`) quotes.

Strings can be concatenated using the `+` operator.

In [20]:
greeting = 'Hello'
name = "World"

greeting + ', ' + name + '!'

'Hello, World!'

Strings can also use the `*` operator to concatenate to themselves multiple times:

In [21]:
"na " * 13 + "BATMAN!"

'na na na na na na na na na na na na na BATMAN!'

If you want to include a quote character in a string, you can either use the other type of quotes to contain it or use the **escape character** `\`:

In [22]:
'I said "Hello, 🐍!"'

'I said "Hello, 🐍!"'

In [23]:
"I said 'Hello, 🐍!'"

"I said 'Hello, 🐍!'"

In [24]:
'I said \'Hello, 🐍!\''

"I said 'Hello, 🐍!'"

The escape character is also useful for representing other special characters in a string:

* `\t`: tab
* `\n`: new line
* `\\`: just a backslash

In [25]:
greeting = "Hello,\n\tWorld!"
greeting

'Hello,\n\tWorld!'

To see the characters as they are meant to be displayed, we can use the `print` **function**.

In [26]:
print(greeting)

Hello,
	World!

Strings also have a special **format** syntax, which allows us to more easily interpolate strings and code:

In [27]:
f"I have {1 + 2} apples!"

'I have 3 apples!'

In [28]:
apples = 3
bananas = 4
f"I have {apples} apples and {bananas} bananas, for a total of {apples + bananas} pieces of fruit."

'I have 3 apples and 4 bananas, for a total of 7 pieces of fruit.'

Use the space below to play around with strings:

### Functions

A function is just code with a name, like the `print` function that we just used.
Functions can take zero or more **parameters** that provide some context for the code within.

Python has many [built-in functions](https://docs.python.org/3/library/functions.html) that come in handy:

In [29]:
# what is the length (i.e. number of characters) in this string?
len('Hello, 🐍!')

9

In [30]:
# convert this number to a string
str(9.000) + str(5.0)

'9.05.0'

In [31]:
# which of these is the biggest?
max(1, 2, 3)

3

In [32]:
# convert this string to an integer (whole number)
int('1234') + 5

1239

In [33]:
# raise 3 to the power of 2 (i.e. 3 squared)
pow(3, 2)

9

Sometimes functions implicitly operate on a value, in which case they are called with a special syntax.
[Built-in types](https://docs.python.org/3/library/stdtypes.html) like strings have many useful functions defined:

In [34]:
'hello'.upper()

'HELLO'

In [35]:
'hello'.startswith("he")

True

In [36]:
'hello'.replace('lo', 'icopter')

'helicopter'

In [37]:
greeting.endswith('!')

True

In [38]:
'1234'.isnumeric()

True

In [39]:
"hELLO".swapcase()

'Hello'

Use the space below to play around with these new functions.

Try to answer the following question:

> How long is the longest of these words? "Python" "Computer" "Programming"

### Lists

Often we want to work with not just one value, but a **list** of values.
A list is just a container for holding more than one thing.

In [40]:
x = [1, 2, 6, 4, 3]
x

[1, 2, 6, 4, 3]

In [41]:
max(x)

6

In [42]:
len(x)

5

In [43]:
# add a value onto the end of the list
x.append(9)
x

[1, 2, 6, 4, 3, 9]

In [44]:
x.sort()
x

[1, 2, 3, 4, 6, 9]

In [45]:
# get the first element in the list (indices start at 0)
x[0]

1

In [46]:
# get the third through fifth elements
x[2:5]

[3, 4, 6]

In [47]:
# get the second from the last element
x[-2]

6

In [48]:
# set the fifth element in the list to a new value
x[4] = 7
x

[1, 2, 3, 4, 7, 9]

In [49]:
# is the value 3 in our list?
3 in x

True

In [50]:
# split a string into a list of words
'The quick brown fox jumped over the lazy dog'.split()

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [51]:
# join them back together with dashes
'-'.join(['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog'])

'The-quick-brown-fox-jumped-over-the-lazy-dog'

In [52]:
# duplicate a list
[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [53]:
# concatenate two lists
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

Use the space below to explore lists.

Try to answer the following question:

> Which is the third-smallest number out of 6, 9, 4, 3, 8, and 10?

### Modules

Python comes with **a ton** of functions, but not all of them are available by default.
They are organized into different **modules** which we have to explicitly load before using.

In [54]:
import math

In [55]:
math.sqrt(9)

3.0

In [56]:
math.pi

3.141592653589793

In [57]:
import random

In [58]:
# generate a random number between 1 and 10
random.randint(1, 10)

5

In [59]:
# flip a coin
coin_sides = ['Heads', 'Tails']
random.choice(coin_sides)

'Heads'

If we don't need everything from a module, we can just load what we need.

In [60]:
from calendar import isleap

In [61]:
isleap(2018)

False

In [62]:
isleap(2020)

True

In [63]:
from datetime import datetime, timedelta

In [64]:
now = datetime.now()
str(now.date())

'2018-10-03'

In [65]:
# 24-hour time
now.hour

21

In [66]:
str(now.date() + timedelta(weeks=1))

'2018-10-10'

Use the space below to play around with these new functions.
For more information about a function, run it with a trailing question mark, e.g. `isleap?`

### Dictionaries

Often we want to represent information that is associated with some identifier.
**Dictionaries** allow us to represent these *key-value pairs* and are incredibly useful for organizing data.

In [67]:
bob = {
    'first_name': 'Bob',
    'age': 53,
}

In [68]:
bob['age']

53

In [69]:
bob['last_name'] = 'Smith'

In [70]:
bob

{'first_name': 'Bob', 'age': 53, 'last_name': 'Smith'}

In [71]:
# does `bob` have the key 'age'?
'age' in bob

True

In [72]:
# what about 'middle_name'?
'middle_name' in bob

False

In [73]:
# remove Bob's age for privacy
del bob['age']
bob

{'first_name': 'Bob', 'last_name': 'Smith'}

In [74]:
# which keys are contained in the dictionary?
list(bob.keys())

['first_name', 'last_name']

In [75]:
# we can store any kind of value inside of a dictionary, including other dictionaries
spike = {
    'breed': 'German Shepherd',
    'favorite_foods': ['turkey', 'tacos'],
}

bob['dog'] = spike
bob

{'first_name': 'Bob',
 'last_name': 'Smith',
 'dog': {'breed': 'German Shepherd', 'favorite_foods': ['turkey', 'tacos']}}

In [76]:
# we can update a dictionary with information from another
bob.update({
   'age': 54,
    'first_name': 'Robert'
})

bob

{'first_name': 'Robert',
 'last_name': 'Smith',
 'dog': {'breed': 'German Shepherd', 'favorite_foods': ['turkey', 'tacos']},
 'age': 54}

Use the space below to play with dictionaries.

### Control Flow

Often when writing code, we want to perform certain actions conditionally.
For this, we can use the `if` statement:

In [77]:
if bob['age'] >= 21:
    print("Bob may have a beer!")
else: # else is optional
    print("Bob is too young to drink!")

Bob may have a beer!

We may also want to repeat code a certain number of times or for every element in a list. For this we can use the `for ... in` construct:

In [78]:
for x in range(5):
    print(x)

0
1
2
3
4

In [79]:
for x in ["a", "b", "c"]:
    print(f"---{x}---")

---a---
---b---
---c---

We may also want to repeat code indefinitely as long as a certain condition is still true.
For this we can use the `while` loop, but be careful of infinite loops (i.e. the condition is always true)!

In [80]:
x = 1
while x < 100:
    print(x)
    x *= 2 # shorthand for x = x * 2
    
print(x)

1
2
4
8
16
32
64
128

Use the space below to do interesting things with control flow:

### Writing our own functions

We've already seen how useful functions can be, but we haven't yet made our own!
Functions are a great way to encapsulate code that we can re-use over and over without having to write it again.
We can create functions using the `def` keyword:

In [81]:
def is_it_april_fools():
    now = datetime.now()
    if now.month == 4 and now.day == 1:
        print("Yes!")
    else:
        print("No.")

In [82]:
is_it_april_fools()

No.

Functions can also take parameters to make them more re-usable:

In [83]:
def is_it_my_birthday(month, day):
    now = datetime.now()
    if now.month == month and now.day == day:
        print("Yes!")
    else:
        print("No.")

In [84]:
is_it_my_birthday(10, 3)

Yes!

In [85]:
is_it_my_birthday(10, 4)

No.

Functions can also **return** values:

In [86]:
def double_it(x):
    return x * 2

In [87]:
double_it(10)

20

In [88]:
double_it(double_it(double_it(10)))

80

Use the space below to play with functions.
Try adding "average age" to the returned statistics in the following function:

In [89]:
def class_statistics(people):
    students_with_cats = 0
    for person in people:
        if person['has_cat']:
            students_with_cats += 1
    
    return {
        'total_students': len(people),
        'students_with_cats': students_with_cats,
        'average_age': '???',
    }

In [90]:
class_statistics([
    {'name': 'Tom', 'age': 16, 'has_cat': False},
    {'name': 'Nancy', 'age': 24, 'has_cat': True},
    {'name': 'Fred', 'age': 63, 'has_cat': False},
    {'name': 'Tom', 'age': 55, 'has_cat': True},
    {'name': 'Elizabeth', 'age': 30, 'has_cat': False},
])

{'total_students': 5, 'students_with_cats': 2, 'average_age': '???'}

That's all for this time, but feel free to practice!
Next time, we'll dive into a ton of fun and useful Python libraries (collections of related code) written by other people.