# Introduction to Python

Computer programming is not so much about computers and more about information.
At the end of the day, most computer programs are taking information in some form and producing information in another form.
The first thing we need to learn is how to represent information in a way that the computer can understand.

### Numbers

Numbers in Python work just the way you expect them to in the real world.
We can perform basic arithmetic:

In [1]:
1 + 1

2

In [2]:
5 - 8

-3

In [3]:
2 * 2

4

In [4]:
3 / 4

0.75

In [5]:
# instead of commas, we can use underscores to make large numbers more readable
100_000 * 0.05

5000.0

These symbols (`+`, `-`, `*`, `/`) are called **operators**, and they each *operate* on two numbers, producing a result.
These follow the standard [order of operations](https://simple.wikipedia.org/wiki/Order_of_operations), and respect parentheses (`(`, `)`) for grouping.

Use the space below to play around with combining these operators.

Let's say we have the following problem:

>I have 23 apples to share between 5 people.
>How many whole apples can each person get, and how many will be leftover?

We could solve this using our basic mathematical operators:

In [6]:
23 / 5

4.6

In [7]:
23 - (5 * 4)

3

Or we could take advantage of other operators for integer (whole number) division (`//`) and [modulo division](https://simple.wikipedia.org/wiki/Modulo_operation) (`%`) that frequently come in handy.

In [8]:
23 // 5

4

In [9]:
23 % 5

3

We can also use comparison operators to determine relationships between two numbers:

In [10]:
# is 1 less than 2?
1 < 2

True

In [11]:
# is 1 greater than or equal to 2?
1 >= 2

False

In [12]:
# is 3 equal to 3?
3 == 3

True

In [13]:
# is 4 not equal to 4?
4 != 4

False

Notice that the results of these operations are not numbers, but special values `True` and `False`.
These are called [Boolean](https://simple.wikipedia.org/wiki/Boolean_algebra) values, often shortened to `bool` in many programming languages.
They are very useful for representing information that can either be true or false, and are essential to writing code that can perform different operations based on the result of a previous operation.

Use the space below to play around with the comparison operators:

* `<`: Less than
* `<=`: Less than or equal to
* `>`: Greater than
* `>=`: Greater than or equal to
* `==`: Equal to
* `!=`: Not equal to

Try to figure out how to represent the following question:

> If I cut up the remaining 3 apples, will each of the 5 people at least get a half of an apple?

### Variables

It is often useful to save the result of an operation so that we can refer to it later.
To do this, we can use the assignment operator `=` to associate the value with a name of our choosing:

In [14]:
x = 1
y = 2
x + y

3

In [15]:
x > y

False

In [16]:
# assign a new value to the name `x`
x = 10
x > y

True

### Booleans

Booleans also have operators which are very handy for representing more complex logic.

In [17]:
x > y and x < y

False

In [18]:
x > y or x < y

True

In [19]:
not True

False

Use the space below to play around with the comparison operators:

* `and`: both values are `True`
* `or`: at least one of the values are `True`
* `not`: the opposite value

Try to figure out how to represent the following question:

> Are `x` and `y` both between 1 and 100?

Feel free to use variables to store interim results instead of trying to fit everything in one line of code.

### Text

In addition to number and logic, we often want to represent text.
In computer programming, text types are usually called **strings** as they represent a string of **characters** (a single glyph, such as the letter `h`, the Korean letter `á„’`, or the snake emoji `ðŸ`).
Strings in Python are enclosed in either single (`'`) or double (`"`) quotes.

Strings can be concatenated using the `+` operator.

In [20]:
greeting = 'Hello'
name = 'World'

greeting + ', ' + name + '!'

'Hello, World!'

If you want to include a quote character in a string, you can either use the other type of quotes to contain it or use the **escape character** `\`:

In [21]:
'I said "Hello, ðŸ!"'

'I said "Hello, ðŸ!"'

In [22]:
"I said 'Hello, ðŸ!'"

"I said 'Hello, ðŸ!'"

In [23]:
'I said \'Hello, ðŸ!\''

"I said 'Hello, ðŸ!'"

The escape character is also useful for representing other special characters in a string:

* `\t`: tab
* `\n`: new line
* `\\`: just a backslash

In [24]:
greeting = "Hello,\n\tWorld!"
greeting

'Hello,\n\tWorld!'

To see the characters as they would be displayed, we can use the `print` **function**.

In [25]:
print(greeting)

Hello,
	World!

Use the space below to play around with strings:

### Functions

A function is just code with a name, like the `print` function that we just used.
Functions can take zero or more **parameters** that provide some context for the code within.

Python has many built-in functions that come in handy:

In [26]:
# what is the length (i.e. number of characters) in this string?
len('Hello, ðŸ!')

9

In [27]:
# convert this number to a string
str('9.0')

'9.0'

In [28]:
# which of these is the biggest?
max(1, 2, 3)

3

In [29]:
# convert this string to an integer (whole number)
int('1234') + 5

1239

In [30]:
# raise 3 to the power of 2 (i.e. 3 squared)
pow(3, 2)

9

Sometimes functions implicitly operate on a value, in which case they are called with a special syntax.

In [31]:
'hello'.upper()

'HELLO'

In [32]:
'hello'.startswith("he")

True

In [33]:
'hello'.replace('lo', 'icopter')

'helicopter'

In [34]:
greeting.endswith('!')

True

Use the space below to play around with these new functions.

Try to answer the following question:

> How long is the longest of these words? "Python" "Computer" "Programming"

### Lists

Often we want to work with not just one value, but a **list** of values.
A list is just a container for holding more than one thing.

In [35]:
x = [1, 2, 6, 4, 3]
x

[1, 2, 6, 4, 3]

In [36]:
max(x)

6

In [37]:
len(x)

5

In [38]:
# add a value onto the end of the list
x.append(9)
x

[1, 2, 6, 4, 3, 9]

In [39]:
x.sort()
x

[1, 2, 3, 4, 6, 9]

In [40]:
# get the first element in the list (indices start at 0)
x[0]

1

In [41]:
# set the fifth element in the list to a new value
x[4] = 7
x

[1, 2, 3, 4, 7, 9]

In [42]:
# split a string into a list of words
'The quick brown fox jumped over the lazy dog'.split()

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

Use the space below to explore lists.

Try to answer the following question:

> Which is the third-smallest number out of 6, 9, 4, 3, 8, and 10?

### Modules

Python comes with **a ton** of functions, but not all of them are available by default.
They are organized into different **modules** which we have to explicitly load before using.

In [43]:
import math

In [44]:
math.sqrt(9)

3.0

In [45]:
math.pi

3.141592653589793

In [46]:
import random

In [47]:
# generate a random number between 1 and 10
random.randint(1, 10)

3

In [48]:
# flip a coin
coin_sides = ['Heads', 'Tails']
random.choice(coin_sides)

'Heads'

If we don't need everything from a module, we can just load what we need.

In [49]:
from calendar import isleap

In [50]:
isleap(2018)

False

In [51]:
isleap(2020)

True

Use the space below to play around with these new functions.
For more information about a function, run it with a trailing question mark, e.g. `isleap?`

### Dictionaries

In [52]:
bob = {
    'first_name': 'Bob',
    'age': 53,
}

In [53]:
bob['age']

53

In [54]:
bob['last_name'] = 'Smith'

In [55]:
bob

{'first_name': 'Bob', 'age': 53, 'last_name': 'Smith'}